@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
}


// *************************** components ***************************
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &.active {
        position: fixed;
        z-index: 10;
        background-color: #12436bFF;
    }

    .nav-link {
        color: white;
        font-weight: 600;
        font-size: 0.9rem;
        cursor: pointer;

        &:visited {
            color: #ddd;
        }
    }

    .navbar-toggler {
        color: white;

        .navbar-toggler-icon {
            background-image: none;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

@media only screen and (max-width: 768px) {
    .header {
        background-color: #12436bFF;
    }
}

.hero {
    background-image: url('./media/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    .container{
        background-image: url('./media/particles-1.gif');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.as-seen-on {
    img {
        width: 150px;
        display: block;
        margin: 1rem auto;

        &:hover {
            opacity: 0.8;
            filter: saturate(0);
        }
    }

    .shadow-cols {
        .col-md-4:nth-child(2n) {
            box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 10%);
        }
    }
}

.footer {
    background-color: #12436bFF;
    color: #ddd;

    .icons a {
        color: white;
    }

    hr {
        border-color: white;
    }
}

.how-it-works {
    background-image: url('./media/bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.platfrom-interface {
    background-image: url('./media/bg-4.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0.5rem;
}

.pswap {
    .box {
        background-color: #fff;
        box-shadow: 0 6px 12px 0 rgb(0 0 0/10%);
        padding: 20px;
        height: 100%;
    }
}

.product-roadmap {
    background-image: url('./media/Frame-13-3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.faqs {
    background-image: url('./media/bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;

    .accordion-item .accordion-button {
        font-weight: 600;

        &:focus {
            box-shadow: none;
            background: none !important;
            color: black;
        }
    }

    .accordion-item {
        border: none;
        padding: 1rem 0;
        margin: 2rem 0;
    }

    .accordion-body {
        font-size: 1.2rem;
        font-weight: 300;
    }
}

.comparison-table {
    background-image: url('./media/bg-2.png');
    background-repeat: no-repeat;
    background-size: cover;

    .table {
        td {
            padding: 2rem 1rem;
        }

        tbody tr {
            background-color: #fff;
        }

        tr:nth-child(2n) {
            background-color: #f5f5f5;
        }
    }
}

.token-dist {
    font-weight: 100;
    .token-sale__graph {
        position: relative;
        width: 100%;
        height: 18.75rem;
        background: url('./media/token-base.png');
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        max-width: 73.125rem;
        margin: 0 auto 2.5rem;
    }

    .token-sale__graph:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('./media/token-hover.png');
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        z-index: -1;
    }

    .token-50 {
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50%;
        animation: move-y 2s linear alternate infinite;
    }
    .fs-22{
    font-size: 1.5rem;
    font-weight: 600;
    }
    @keyframes move-y{
        from{
            transform: translateY(20px);
        }
        to {
            transform: translateY(-20px);
        }
    }

    .token-10-t-l {
        position: absolute;
        top: 1rem;
        left: 2rem;
    }

    .token-10-b-l {
        position: absolute;
        bottom: 8rem;
        left: 0;
    }

    .token-10-t-r {
        position: absolute;
        top: 1rem;
        right: 2rem;
    }

    .token-10-b-r {
        position: absolute;
        bottom: 8rem;
        right: 0;
    }

}

// *************************** overrides ***************************



// *************************** utils ***************************
.txt-red {
    color: #dc3545FF;
}

.shadow {
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 10%);
}